body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
